html,body{
    margin:0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.formulario{
    margin: 0;
    width: 100vw;
    height: 365vh;
    background: radial-gradient(#d6c08f,#D97941);
    box-sizing: content-box;
    padding-top: 0;
    overflow: hidden;
}

.titulo{
    margin: 0;
    width: 100%;
    height: 10%;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 1.5rem;
    box-sizing: border-box;
}
#titulo{
    font-weight: bolder;
    font-family: "Pacifico";
    padding: 0;
    margin: 0;
}

.cajita_imagen{
    box-sizing:border-box;
    padding: 0;
    margin-bottom: 15px;
    height: 20%;
    width: 100%;
    text-align: center;
    background-image: url("https://plus.unsplash.com/premium_photo-1669748157617-a3a83cc8ea23?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8cHVlc3RhJTIwZGUlMjBzb2wlMjBwbGF5YXxlbnwwfHwwfHx8MA%3D%3D");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.opaco{
    margin: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0 , 0.3);
}
#titulo_imagen{
    width: 100%;
    height: 100%;
    margin: 0;
    padding-top: 15%;
    border: none;
    font-size: 400%;
    font-family: "Pacifico";
    text-shadow: 0 0 10px black;
    color: #a3a6a6;
}

label{
    text-align: center;
    display: block;
    font-size: 2em;
    width: 100vw;
    font-family:"Dancing Script";
    font-weight: bolder;
    font-size: 240%;
}
#nombre, #apellidos, #altura, #peso{
    margin-top: 1%;
    margin-bottom: 2%;
    border: none;
    border-left: 3px solid #a3a6a6;
    background-color: transparent;
    padding: 15px;
    width: 60%;
}

.inputs{
    width: 100%;
    text-align: center;
    padding: 10px;
}
::placeholder{
    color: rgb(65, 64, 64);
}
.boton_intentar, .boton_calcular{
    text-align: center;
}
#volverintentar, #calcularboton{
    background-color: #c38f54;
    border-radius: 6px;
    letter-spacing: 3px;
    text-shadow: 0 0 5px black;
    padding: 8px;
    width: 50%;
}
#MC{
    font-family: "Pacifico";
    text-align: center;
    line-height: 60px;
    font-weight: bolder;
    font-size: larger;
}
.imagen_final{
    width: 100%;
    height: 40%;
    box-sizing: border-box;
    padding: 0;
    font-size: 1.5rem;
    text-align: center;
}
#texto_final{
    text-align: center;
    font-family: "Pacifico";
    font-weight: bolder;
    font-size: larger;
}
#imagen_final{
    width: 35vw;
    height: 70vh;
    margin: 0;
    margin-bottom: 2%;

}
#imagen_final_2{
    width: 80vw;
    height: 40vh;
    padding: 0;
    margin: 0;
}